.thundercats{
  background-image: url(thundercatsgif.gif);
  min-height: 50vh;
  background-size: cover;
  opacity: .8;
}
.card-white{
  background: white;
  padding: 30px;
  box-shadow: 1px 1px 2px rgb(43, 42, 42);
  border-radius: 4px;
  margin: 20px 50px;
  opacity: .9;
}
.card-white:hover{
  opacity: 1;
}
.splash-text{
  color: white;
  margin-top: 50px;
  padding: 30px;
}


.message-stats{
  position: relative;
  background-color: #306EBF;
}
.card-graph{
  background: white;
  padding: 30px;
  box-shadow: 8px 8px 10px rgb(43, 42, 42);
  border-radius: 4px;
  margin: auto;
  opacity: 1;
  position: absolute;
  bottom: 0;
  transform: translatey(50%);
  left: 60%
  ;
}

.card-villain{
  background: #A6691F;
  padding: 30px;
  box-shadow: 8px 8px 10px rgb(43, 42, 42);
  border-radius: 25%%;
  margin: auto;
  opacity: 1;

}
header{
  background-color: black;
}
.btn-primary{
background: #306EBF;
box-shadow: 3px 3px 5px rgb(43, 42, 42);
}

.leave-a-message{
  background-color: #A62205;
}
main{
  background-color: black;
}
.breadcrumbs{
  background-color: black;
}